<%= stylesheet_link_tag 'admin/order_discounts' %>

<div class="container">
  <h1>Order Discount System</h1>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
  <p><small>Do you want to open discounts in the store?</small></p>
</div>